<!DOCTYPE html>
    <div class="row" id="title">
      <table id="owned_streams" class="table">
        <tr>
          <th width="15%">
            <h1>KeePet</h1>
          </th>
          <th width="20%">
            <p id="subtitle">Your pet is always loved</p>
          </th>
          <th width="70%"></th>
        </tr>
      </table>
    </div>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="bar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="/owner" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">I'm a pet owner <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/owner/search">I'm a pet keeper</a></li>
            </ul>
          </li>
          <li><a href="/owner/new_job_post">Post a Request</a></li>
          <% if(currentUser) { %>
            <li><a href="/owner/store_pet">Add a pet</a></li>
            <li><a href="/owner/owned_pets">Your pets</a></li>
          <% } %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser) { %>
            <!-- <li><a href="/register">Register</a></li> -->
            <li><a href="/auth/google">Login with Google</a></li>
          <% } else { %>
            <li><a href="/manage">Manage account</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
