<!DOCTYPE html>
<html>
    <head>
        <%- include head_commons.ejs %>      
        <link rel="stylesheet" href="../stylesheets/date_picker.css">
    </head>
    <body>

        <%- include body_header.ejs %>      

        <div class="container" id="center">
            <form action="/owner/new_job_post" method="POST" id="main_form">
                <div class="container container1">
                    <h4>Please list the categories of pets you have</h4>
                    <hr/>
                    <input type="checkbox" name="PetIDs" value="Dog" checked/>Dog<br>
                    <input type="checkbox" name="PetIDs" value="Cat"/>Cat<br>
                    <input type="checkbox" name="PetIDs" value="Fish"/>Fish<br>
                    <input type="checkbox" name="PetIDs" value="Bird"/>Bird<br>
                    <input type="checkbox" name="PetIDs" value="Reptile"/>Reptile<br>
                    <input type="checkbox" name="PetIDs" value="Small Animal"/>Small Animal<br>
                    <hr/>
                    <h4>Please select your preferred start and end date</h4>
                    <hr/>
                </div>
                <input type="text" name="start_date" id="start_date" value="" hidden/>
                <input type="text" name="end_date" id="end_date" value="" hidden/>
                <%- include date_picker.ejs %>
                <div class="container container1">
                    <hr/>
                    <h4>Please add a description of your post</h4>
                    <hr/>
                    <textarea name="description" id="area1" cols="60" rows="10" form="main_form"></textarea>
                    <hr/>
                    <h4>Select the addon selections</h4>
                    <hr/>
                    <input type="checkbox" name="addons" value="opt1" />OPT1<br>
                    <input type="checkbox" name="addons" value="opt2" />OPT2<br>
                    <input type="checkbox" name="addons" value="opt3" />OPT3<br>
                    <input type="checkbox" name="addons" value="opt4" />OPT4<br>
                    <input type="checkbox" name="addons" value="opt5" />OPT5<br>
                </div>
                <button class="btn btn-primary" id="submit_button">Submit</button>      
            </form>
        </div>

        <script src="../javascripts/job_post.js"></script>
    </body>
</html>
