<!DOCTYPE html>
<html>
  <head>
    <title>KeePet</title>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="container">
    	<div class="jumbotron" id="jumbo">
			<h1>Welcome to KeePet</h1>
			<p>A pet keeping website</p>
			<p><a class="btn btn-primary btn-lg" href="/owner">I'm a pet owner</a></p>
			<p><a class="btn btn-success btn-lg" href="/owner/search">I'm a pet keeper</a></p>
    	</div>
	</div>
  </body>
</html>
