<!DOCTYPE html>
<html>
    <head>
        <%- include head_commons.ejs %>      
        <link rel="stylesheet" href="../stylesheets/manage.css">
    </head>
    <body>		
		<div class="container" id="mainContent">
			<h3>Ops! You are not logged in!</h3>
			<hr/>
			<a href="/auth/google" class="btn btn-primary">Login with Google Account</a>
		</div>
        
    </body>
</html>

