<!DOCTYPE html>
<html>
  <head>
    <title>KeePet</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  </head>
  <body>
    
    <div class="row" id="title">
      <table id="owned_streams" class="table">
        <tr>
          <th width="15%">
            <h1 id="KeePet">KeePet</h1>
          </th>
          <th width="20%">
            <p id="subtitle">Your pet is always loved</p>
          </th>
          <th width="70%"></th>
        </tr>
      </table>
    </div>

    <div class="container" id="jumbotroncontainer">
      <div class="jumbotron">
        <div class="container" id="center">
          <h3 id="title3">Create your KeePet account</h3>
          <form action="/register" method="POST">
              <input class="form-control" type="text" name="username" placeholder="username" id="input1"></input>
              <input class="form-control" type="password" name="password" placeholder="password" id="input2"></input>
              <input class="form-control" type="text" name="email" placeholder="Email Address" id="input3"></input>
              <input class="form-control" type="text" name="firstname" placeholder="First Name" id="input4"></input>
              <input class="form-control" type="text" name="lastname" placeholder="Last Name" id="input5"></input>
              <button class="btn btn-primary btn-lg">Sign Up</button>
          </form>
        </div>
      </div>
    </div>


  </body>
</html>