<!DOCTYPE html>
<html>
    <head>
        <%- include head_commons.ejs %>      
        <link rel="stylesheet" href="../stylesheets/manage.css">
    </head>
    <body>

        <%- include body_header.ejs %> 
		
		<div class="container" id="mainContent">
			<form action="/owner/store_pet" method="POST" id="main_form">
				<h3>Please insert your pet category</h3>
				<div class="listContent">
					<select name="category">
					    <option value="Dog">Dog</option>
					    <option value="Cat">Cat</option>
					    <option value="Snake">Snake</option>
					</select>
				</div>
				<input type="submit" class="btn btn-primary" value="Next">
			</form>
		</div>
        
    </body>
</html>