<!DOCTYPE html>
<html>
    <head>
        <%- include head_commons.ejs %>      
        <link rel="stylesheet" href="../stylesheets/manage.css">
    </head>
    <body>

        <%- include body_header.ejs %> 
		
		<div class="container" id="mainContent">
			<form action="/owner/post_pet" method="POST" id="main_form">
				<h3>Create your pet's profile</h3>
				<hr/>
				<input type="file" name="photo" accept=".jpg,.jpeg,.png">  
				<% for(var i = 0; i < schema.length; i++) { %>
					<% if(schema[i].name === "breedName") { %>
						<h4>Breed</h4>
						<input type="text" class="form-control" name="breedName" 
						placeholder="Insert your pet's breed">
						<hr/>
					<% } else if(schema[i].name === "length") { %>
						<h4>Length(in inch)</h4>
						<input type="number" class="form-control" name="length" 
						placeholder="10">
						<hr/>
					<% } else if(schema[i].name === "name") { %>
						<h4>Name</h4>
						<input type="text" class="form-control" name="name" 
						placeholder="Wolfman">
						<hr/>
					<% } else if(schema[i].name === "age_month") { %>
						<h4>Age(int month)</h4>
						<input type="number" class="form-control" name="age_month" 
						placeholder="23">
						<hr/>
					<% } else if(schema[i].name === "sex") { %>
						<h4>Sex</h4>
						<select name="sex">
						    <option value="Male">Male</option>
						    <option value="Female">Female</option>
						</select>
						<hr/>
					<% } else if(schema[i].name === "description") { %>
						<h4>Description</h4>
						<textarea name="description" id="area1" cols="60" rows="10" 
						form="main_form"></textarea>
						<hr/>
					<% } %>
				<% } %>
				<input type="hidden" class="form-control" name="modelName" value=<%= category %>>
				
				<input type="submit" class="btn btn-primary" value="Save">
			</form>
		</div>
        
    </body>
</html>